body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input{font-size: 16px; color: #333; padding:10px; border: 1px solid #333; background: #eee; margin: 10px 0 0 70px;}
input:disabled{border: 1px solid #aaa; color: #aaa;}